
div {
    font-family: helvetica;
    }
.body-container {
   /* background: gray;*/
   border: solid 2px red;
}

.header {
   /* background: #2db34a;
    text-align: center; 
    font-family: helvetica;
    padding: 24px 15px;
    margin: 5px;
 
    position: center;
    color: #fff;
    border-radius: 10px;
    height: 30%;
    width: 96%;*/
    border: solid 2px blue;
}

 header:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.top-nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: bottom 10px;
    text-align: right;
    border: solid 2px purple;

}

.top-nav li {
    text-align: right;
    display: inline;
    float: right;
    border: solid 2px orange;
}

.top-nav {
    border: solid 2px green;
}

.headline {
    font-size: 30px;
    font-family: helvetica;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
    border: solid 2px lime;
}

.subhead {
     font-size: 15px;
    font-family: helvetica;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
    border: solid 2px lime;
}

.body:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.blog {
    font-family: helvetica;
    float: left;
    border: solid 2px lime;
    margin: 0 auto;
    width: 65%;
    padding: 10px;

}

.right-rail {
    float:left;
    border: solid 2px gray;
    margin: 0 auto;
    width: 30%;
    padding: 10px;
   
}

.footer {
    font-family: helvetica;
    clear:both;
  
  

   
}